# Dependencies
node_modules/

# Secrets & SSL
server.cert
server.key
.env

# Database
server/db/users.sqlite
server/db/*.sqlite

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db
